@model List<FabricantesModel>
@{
    ViewData["Title"] = "Lista de Fabricantes";
}

<div class="d-grid d-md-flex">
    <a class="waves-effect waves-light btn" role="button" asp-controller="Home" asp-action="Index"><i class="small material-icons">arrow_back</i></a>
</div>

<div class="text-center" style="margin-bottom:60px">

    <h3 style="color:#585858">Listagem de Fabricantes</h3>

    @if(TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button style="border-radius: 50px" type="button" class="btn btn-close btn-sm close-alert"></button>
           @TempData["MensagemSucesso"]
        </div>
    }  

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button style="border-radius: 50px" type="button" class="btn btn-close btn-sm close-alert"></button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="waves-effect waves-light btn" role="button" asp-controller="Fabricantes" asp-action="Cadastrar">Adcionar novo fabricante</a>
    </div>

    <br />
    <br />

    <table class="table table-striped" id="table-page">
        <thead>
            <tr style="color:#585858">
                <th scope="col">#</th>
                <th scope="col">Fabricante</th>
                <th scope="col">País de Origem</th>
                <th scope="col">Ano de Fundação</th>
                <th scope="col">Website</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (FabricantesModel fabricantes in Model)
                {
                    <tr>
                        <td>@fabricantes.Id</td>
                        <td>@fabricantes.Fabricante</td>
                        <td>@fabricantes.PaisOrigem</td>
                        <td>@fabricantes.AnoFundacao</td>
                        <td>@fabricantes.Website</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a role="button" class="btn btn-info gap-2" asp-route-id="@fabricantes.Id" asp-controller="Fabricantes" asp-action="Editar"><i class="small material-icons">border_color</i></a>
                                <a role="button" class="btn btn-danger gap-2" asp-route-id="@fabricantes.Id" asp-controller="Fabricantes" asp-action="DeletarConfirmacao"><i class="small material-icons">delete</i></a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>

