@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Perfis";
}

<header class="d-flex justify-content-between align-items-center">
    <div>
        <h3 style="color:#585858">Roles</h3>
    </div>
    <div>
        <a asp-action="Create" class="btn btn-primary">Criar Role</a>
    </div>
</header>

<hr />

<a asp-action="Index" asp-controller="Admin" class="btn btn-primary">Voltar</a>

<br />
<br />

<table class="table table-sm table-striped">
    <tr>
      <th>ID</th>
      <th>Nome</th>
    </tr>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td i-role="@role.Id"></td>
            <td><a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@role.Id">Editar</a></td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="get">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Deletar
                    </button>
                </form>
            </td>
        </tr>
    }
</table>