@model RoleEdit


<header class="d-flex justify-content-between align-items-center">
    <div>
        <h3 style="color:#585858">Atualizar Role</h3>
    </div>
</header>
<hr />
<a asp-action="Index" class="btn btn-primary">Voltar</a>
<div asp-validation-summary="All" class="text-danger"></div>

<br />

<form method="post">
    <input type="hidden" name="roleName" value="@Model.Role.Name" />
    <input type="hidden" name="roleId" value="@Model.Role.Id" />
    

    <h3 style="color:#585858">Incluir na Role : @Model.Role.Name</h3>
    <hr />
    <br />
    <table class="table table-striped table-sm">
        @if (Model.NoMembers.Count() == 0)
        {
            <tr><td colspan="2">Todos os usuários pertecem a esta role</td></tr>
        }
        else
        {
            @foreach (IdentityUser user in Model.NoMembers)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        <input type="checkbox" name="AddIds" value="@user.Id">
                    </td>
                </tr>
            }
        }
    </table>

    <h3 style="color:#585858">Remover da Role : @Model.Role.Name</h3>
    <hr />
    <br />
    <table class="table table-striped table-sm">
        @if (Model.Members.Count() == 0)
        {
            <tr><td colspan="2">Não existem usuários nesta Role</td></tr>
        }
        else
        {
            @foreach (IdentityUser user in Model.Members)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        <input type="checkbox" name="DeleteIds" value="@user.Id">
                    </td>
                </tr>
            }
        }
    </table>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
