@model List<UsuarioModel>
    @{
    ViewData["Title"] = "Lista de Usuarios";
    }

    <div class="d-grid d-md-flex">
        <a class="waves-effect waves-light btn" role="button" asp-controller="Home" asp-action="Index"><i class="small material-icons">arrow_back</i></a>
    </div>

    <div class="text-center">

        <h3 style="color:#585858">Listagem de Usuários</h3>
        <br />
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a class="waves-effect waves-light btn" role="button" asp-controller="Usuarios" asp-action="Cadastrar">Adcionar novo Usuário</a>
        </div>

        <br />
        <br />

        <table class="display" id="table-usuarios" style="width:100%">
            <thead>
                <tr style="color:#585858">
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Login</th>
                    <th scope="col">Email</th>
                    <th scope="col">Perfil</th>
                    <th scope="col">Data de Cadastro</th>                    
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
            {
                foreach (var usuario in Model)
                {
                <tr>
                    <th scope="row">@usuario.Id</th>
                    <td>@usuario.Nome</td>
                    <td>@usuario.Login</td>
                    <td>@usuario.Email</td>
                    <td>@(usuario.Perfil == SistemaDeGestao.Enums.PerfilEnum.Admin ? "Administrador" : usuario.Perfil == SistemaDeGestao.Enums.PerfilEnum.Vendedor ? "Vendedor" : "Gerente")</td>
                    <td>@usuario.DataCadastro</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a role="button" class="btn btn-info" asp-route-id="@usuario.Id" asp-controller="Usuarios" asp-action="Editar">Editar</a>
                            <a role="button" class="btn btn-danger" asp-route-id="@usuario.Id" asp-controller="Usuarios" asp-action="DeletarConfirmacao">Deletar</a>
                        </div>
                    </td>
                    </tr>
                }
            }
            
            </tbody>
        </table>

    </div>
