@model List<ConcessionariasModel>
@{
    ViewData["Title"] = "Concessionárias";
}

<header class="d-flex justify-content-between align-items-center">
    <div>
        <h3 style="color:#585858">Concessionárias</h3>
    </div>

   <div>
     <a class="btn btn-primary" role="button" asp-controller="Usuarios" asp-action="Cadastrar">Nova Concessionária</a>
    </div>
</header>
<hr />

<div class="text-center" style="margin-bottom:60px">

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }
    <br />

    <table class="display" id="table-concessionaria" style="width:100%">
        <thead>
            <tr style="color:#585858">
                <th scope="col">#</th>
                <th scope="col">Nome da Concessionária</th>
                <th scope="col">Endereço Completo</th>
                <th scope="col">Telefone</th>
                <th scope="col">E-mail</th>
                <th scope="col">Capacidade Veículos</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach(var concessionarias in Model)
                {
                    <tr>
                        <td scope="row">@concessionarias.Id</td>
                        <td >@concessionarias.Concessionaria</td>
                        <td>@concessionarias.Rua, @concessionarias.Cidade, @concessionarias.Estado - @concessionarias.CEP</td>
                        <td>@concessionarias.Telefone</td>
                        <td>@concessionarias.Email</td>
                        <td>@concessionarias.CapacidadeVeiculos</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a role="button" class="btn btn-info" asp-route-id="@concessionarias.Id" asp-controller="Concessionarias" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@concessionarias.Id" asp-controller="Concessionarias" asp-action="DeletarConfirmacao">Deletar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>