@model VeiculosModel
@{
    ViewData["Title"] = "Cadastro de Veículos";
}

<div class="text-center">
    <h3 style="color:#585858">Cadastro de Veículos</h3>
</div>

<form asp-controller="Veiculos" asp-action="Cadastrar" method="post" class="row g-3 ">

    <div class="row-cols-md-6">
        <label for="modelo" class="form-label">Modelo</label>
        <input type="text" asp-for="Modelo" class="form-control" placeholder="Digite o modelo do veículo">
        @Html.ValidationMessageFor(x => x.Modelo)
    </div>

    <div class="row-cols-md-6">
        <label for="anoFabricacao" class="form-label">Ano de Fabricação</label>
        <input type="text" asp-for="AnoFabricacao" class="form-control" min="1880" max="@DateTime.Now.Year" placeholder="Digite o ano de fabricação do veículo">
        @Html.ValidationMessageFor(x => x.AnoFabricacao)
    </div>

    <div class="col-md-4">
        <label for="preco" class="form-label">Preço</label>
        <input type="text" asp-for="Preco" class="form-control" placeholder="Digite o preço">
        @Html.ValidationMessageFor(x => x.Preco)
    </div>

    <div class="col-md-4">
        <label for="Fabricante" class="form-label">Fabricante</label>
        <select type="text" class="form-select" asp-for="Fabricante">
            <option value="" selected disabled>Selecione um Fabricante</option>
            @{
                foreach (var fabricantes in ViewBag.Fabricantes)
                {
                    <option value="@fabricantes.Fabricante">@fabricantes.Fabricante</option>
                }
            }
        </select>
        @Html.ValidationMessageFor(x => x.Fabricante)
    </div>

    <div class="col-md-4">
        <label for="veiculo" class="form-label">Selecione o tipo do veículo</label>
        <select type="text" asp-for="TipoVeiculo" class="form-select">
            <option selected disabled>Selecione o tipo do veículo</option>
            <option value="Barco">Barco</option>
            <option value="Carro">Carro</option>
            <option value="Caminhão">Caminhão</option>
            <option value="Moto">Moto</option>
        </select>
        @Html.ValidationMessageFor(x => x.TipoVeiculo)
    </div>

    <div class="col-md-6">
        <label for="descricao" class="form-label">Descrição</label>
        <textarea rows="3" asp-for="Descricao" class="form-control" placeholder="Descrição(Opcional)"></textarea>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Cadastrar</button>
        <a class="btn btn-light" asp-controller="Veiculos" asp-action="Index" role="button">Voltar</a>
    </div>
</form>